[Interface]
PrivateKey = {{ wireguard_private_key }}
ListenPort = {{ wireguard_port }}
Address = {{ wireguard_subnet | ipaddr(1) }}

{% for client in wireguard_clients %}
[Peer] # {{ client.name }}
PublicKey = {{ client.public_key }}
AllowedIPs = {{ wireguard_subnet | ipsubnet(32, client.node_id) }}
{% if client.routes is defined %}
AllowedIPs = {{ client.routes | join(", ") }}
{% endif %}

{% endfor %}
