[Interface]
PrivateKey = {{ client.private_key | default("") }}
Address = {{ wireguard_subnet | ipsubnet(32, client.node_id) }}

[Peer]
PublicKey = {{ wireguard_public_key }}
EndPoint = {{ wireguard_address }}:{{ wireguard_port }}
AllowedIPs = {{ wireguard_subnet | ipsubnet(32, 1) }}
{% for other_client in wireguard_clients %}
{% if other_client.node_id != client.node_id and other_client.routes is defined %}
AllowedIPs = {{ other_client.routes | join(", ") }}
{% endif %}
{% endfor %}
